<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>Title of web page in browser window</title>
	</head>
	<body>
		<script>
			function setTaskName(task_id) {
				var name_input = document.getElementById("task_name_id_"+task_id);
				data_to_send = {
					'task_id': task_id,
					'task_name': name_input.value
				};

				fetch(`${window.origin}/set-task-name`, {
					method: "POST",
					credentials: "include",
					body: JSON.stringify(data_to_send),
					cache: "no-cache",
					headers: new Headers({
						"content-type": "application/json"
					})
				})
				.then(function(response) {
					if (response.status !== 200) {
						console.log(`setTaskName response status was `+response.status);
						return ;
					}
				});
			}

			function taskNameKeyDown(event, task_id) {
				if (event.key === "Enter") {
					setTaskName(task_id);
				}
			}
		</script>
		<div>To-Do List</div>
		<form action="#" method="post">
			<p>New task:</p>
			<p><input type="text" name="task_name"/></p>
			<p><input type="submit" name="submit"/></p>
		</form>
		<div>
			{% for task in tasks %}
			<div>
				<input type="checkbox" id="task_checkbox_id_{{ task.done }}" {{ "checked" if task.done }}>
				<input type="text" id="task_name_id_{{ task.id }}" value="{{ task.name }}" onblur="setTaskName({{ task.id }})" onkeydown="taskNameKeyDown(event, {{ task.id }})">
			</div>
			{% endfor %}
		</div>
	</body>
</html>
